@CHARSET "UTF-8";
.err {
	display: inline-block;
	position: relative;
}

.err:before {
	content: "~~~~~~~~~~~~";
	font-size: 0.6em;
	font-weight: 700;
	font-family: Times New Roman, Serif;
	color: red;
	width: 100%;
	position: absolute;
	top: 12px;
	left: -1px;
	overflow: hidden;
	display: inline-block;
}

.xerr {
    position: relative;
    background: url(http://www.phpied.com/images/underline.gif) bottom repeat-x;
}

.sxml {
	font-family: 'Courier New';
	font-size: 10pt;
	font-weight: bold;
}


.sc13 {
	color: #FF0000;
	background: #FFFF00;
}

