<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <properties fileName="component.properties"/>
    <override>
        <properties fileName="cbr.properties"/>
    </override>
    <!--additional>
        <properties fileName="test_config.properties"/>
        <properties fileName="test_additional.properties"/>
    </additional-->  
</configuration>
